<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>

</head>
<body >
	<div ng-controller="dashboardController">
<div class="container-fluid" style="margin-top: 10px;">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="#/dashboard">Zup it</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group" style="margin-top: 0px;">
							<input type="text" class="form-control" 
								   ng-model="carFilter" 
								   placeholder="Type to search a car" />
						</div> 
						
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" ng-click="exit()">Log out</a>
						</li>
					</ul>
				</div>
				
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<ul>
		        <li ng-repeat="car in cars | filter:carFilter">{{ car.name }}</li>
		    </ul>
		</div>
	</div>
</div>

</body>
</html>